# Build results
/contract/target
/contract/contract.wasm
/contract/contract.wasm.gz

# Binaries
/contract/*.wasm
/contract/*.wasm.gz

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
/contract/.cargo-ok

# Text file backups
/contract/**/*.rs.bk

# macOS
.DS_Store

# IDEs
/contract/*.iml
/contract/.idea
